@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    background-color: #f4f4f4;
    margin:20px

}
.main {
    animation: fade-in 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: solid rgba(73, 73, 73, 0.193);
    margin-right: 0;
    background: inherit;
    animation: slide-in-top 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}
.links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .5em;
    align-items: left;
}
.repo {
    padding-left: 2.5em;
}
.avyuLinks {
    display: flex;
    gap: 1em;
    justify-content: space-around;
}
.mLinks {
    display: flex;
    gap: 1em;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: #0a600d;
    font-weight: bold;
    border-radius: 2em;
    border: solid rgb(106, 155, 33);
    padding: 6px;
    background-color: lightgray; 
}

a:hover {
    color: #45a049;
    background-color: #bebebe;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    padding: 15px;
    border: 2px solid #4CAF50;
    background-color: #e7f9e7;
    color: #333;
    text-align: center;
    border-radius: 0.5em;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
}

input {
    font-family: inherit;
    text-align: left;
    border: none;
    background-color: inherit;
    border-bottom: rgb(182, 182, 182) dashed 0.5px;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-scores {
    margin-top: 20px;
}

.section-scores p {
    background-color: #e7f3ff;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    margin-bottom: 10px;
}

.quiz {
    background-color: #f8e5e5;
}

.pe {
    background-color: #e5f7e5;
}

.hw {
    background-color: #e5e7f7;
}

.exam {
    background-color: #f8f4e5;
}

.final-exam {
    background-color: #e5f7f7;
}



@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    75% {
        transform: translateY(0);
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    from {
        visibility: hidden;
        transform: translateY(1000px);
        opacity: .5;
    }
    to {
        visibility: show;
        opacity: 1;
    }
}
  